<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
</head>
<body>
    <h1>Add Department</h1>
    <form action="/company/add_department/<%=COMPANY_NAME%>" method="post">
        <label for="departmentName">Department Name:</label><br>
        <input type="text" id="departmentName" name="departmentName" required><br><br>
        
        <h3>Office Information:</h3>
        <label for="office_name">Office Name:</label><br>
        <input type="text" id="office_name" name="office_name" maxlength="20" required><br>

        <label for="office_address">Office Address:</label><br>
        <input type="text" id="office_address" name="office_address" maxlength="20" required><br>

        <label for="contact_information">Contact Information:</label><br>
        <input type="text" id="contact_information" name="contact_information" maxlength="20" required><br>

        <label for="admin_cost">Admin Cost:</label><br>
        <input type="number" id="admin_cost" name="admin_cost" min="0" required><br>

        <h3>Leader Information:</h3>
        <label for="staff_fname">Staff First Name:</label><br>
        <input type="text" id="staff_fname" name="staff_fname" maxlength="10" required><br>

        <label for="staff_lname">Staff Last Name:</label><br>
        <input type="text" id="staff_lname" name="staff_lname" maxlength="10" required><br>

        <label for="staff_address">Staff Address:</label><br>
        <input type="text" id="staff_address" name="staff_address" maxlength="20" required><br>

        <label for="staff_contact">Staff Contact:</label><br>
        <input type="text" id="staff_contact" name="staff_contact" required><br>

        <label for="staff_gender">Staff Gender:</label><br>
        <input type="text" id="staff_gender" name="staff_gender" maxlength="2" required><br>

        <label for="staff_marital_status">Staff Marital Status:</label><br>
        <input type="text" id="staff_marital_status" name="staff_marital_status" maxlength="8" required><br>

        <label for="staff_nationality">Staff Nationality:</label><br>
        <input type="text" id="staff_nationality" name="staff_nationality" maxlength="15" required><br>

        <label for="staff_qualification">Staff Qualification:</label><br>
        <input type="text" id="staff_qualification" name="staff_qualification" maxlength="20" required><br>

        <label for="staff_allowance">Staff Allowance:</label><br>
        <input type="number" id="staff_allowance" name="staff_allowance" min="0" required><br>

        <label for="staff_pps_number">Staff PPS Number:</label><br>
        <input type="number" id="staff_pps_number" name="staff_pps_number" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
