<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vehicle</title>
</head>
<body>
    <h2>Add Vehicle</h2>
    <form method="post" action="/customer/vehicle/<%= CUST_ID %>">
        <input type="text" placeholder="Vehicle ID" name="vehicle_id" required><br><br>
        <input type="text" placeholder="Policy ID" name="policy_id" required><br><br>
        <input type="text" placeholder="Dependent NOK ID" name="dependent_nok_id" required><br><br>
        <input type="text" placeholder="Vehicle Registration Number" name="vehicle_registration_number" maxlength="20" required><br><br>
        <input type="number" placeholder="Vehicle Value" name="vehicle_value" required><br><br>
        <input type="text" placeholder="Vehicle Type" name="vehicle_type" maxlength="20" required><br><br>
        <input type="number" placeholder="Vehicle Size" name="vehicle_size" required><br><br>
        <input type="number" placeholder="Number of Seats" name="vehicle_number_of_seat" required><br><br>
        <input type="text" placeholder="Vehicle Manufacturer" name="vehicle_manufacturer" maxlength="20" required><br><br>
        <input type="text" placeholder="Engine Number" name="vehicle_engine_number" maxlength="20" required><br><br>
        <input type="number" placeholder="Chassis Number" name="vehicle_chassis_number" maxlength="20" required><br><br>
        <input type="text" placeholder="Vehicle Number" name="vehicle_number" maxlength="20" required><br><br>
        <input type="text" placeholder="Model Number" name="vehicle_model_number" maxlength="20" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
