<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Company Form</title>
</head>
<body>
    <h2>Insurance Company Form</h2>
    <form action="/company/add" method="POST">

        <label for="company_name">Company Name:</label><br>
        <input type="text" id="company_name" name="company_name" maxlength="50" required><br>

        <label for="company_address">Company Address:</label><br>
        <input type="text" id="company_address" name="company_address" maxlength="50" required><br>

        <label for="company_contact_number">Company Contact Number:</label><br>
        <input type="tel" id="company_contact_number" name="company_contact_number" required><br>

        <label for="company_fax">Company Fax:</label><br>
        <input type="tel" id="company_fax" name="company_fax"><br>

        <label for="company_email">Company Email:</label><br>
        <input type="email" id="company_email" name="company_email" maxlength="50" required><br>

        <label for="company_website">Company Website:</label><br>
        <input type="url" id="company_website" name="company_website" maxlength="50"><br>

        <label for="company_location">Company Location:</label><br>
        <input type="text" id="company_location" name="company_location" maxlength="100"><br>

        <label for="company_department_name">Company Department Name:</label><br>
        <input type="text" id="company_department_name" name="company_department_name" maxlength="50"><br>

        <label for="company_office_name">Company Office Name:</label><br>
        <input type="text" id="company_office_name" name="company_office_name" maxlength="50"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
