<!DOCTYPE html>
<html>
<head>
    <title>Button Example</title>
    <link rel="stylesheet" href="./stylesheets/Insurance Agent.css">
</head>
<body>
    <form action="agent/customer" method="get">
        <button type="submit">Go to Route 1</button>
    </form>
    <form action="agent/application" method="get">
        <button type="submit">Go to Route 2</button>
    </form>
</body>
</html>
