<!-- <!DOCTYPE html>
<html>
<head>
    <title>Customer Management System</title>
</head>
<body>
    <h1>Customer Management System</h1>

    
    <h2>Customer Management</h2>
     

    <form action="manager/readcustomer" method="GET">
        <label for="customerIdRead">Customer ID :</label>
        <input type="text" id="customerIdRead" name="customerIdRead">
        <button type="submit">Read Customer</button>
    </form>


   
     <h2>Application Management</h2>
    

    <form action="manager/readapplication" method="GET">
        <label for="applicationIdRead">Application ID:</label>
        <input type="text" id="applicationIdRead" name="applicationIdRead">
        <button type="submit">Read Application</button>
    </form>  

   
     <h2>Quote Management</h2>
    

    <form action="manager/readquote" method="GET">
        <label for="quoteIdRead">Quote ID:</label>
        <input type="text" id="quoteIdRead" name="quoteIdRead">
        <button type="submit">Read Quote</button>
    </form> 

    
     <h2>Insurance Policy Management</h2>

    <form action="/manager/readpolicy" method="GET">
        <label for="policyIdRead">AGREEMENT ID:</label>
        <input type="text" id="AGREEMENT_ID_READ" name="AGREEMENT_ID_READ">
        <button type="submit">Read Policy</button>
    </form> 

    
    <body>
        <h1>Vehicle</h1>
        <form action="manager/readvehicle" method="GET"> 
            <label for="vehicle_idRead">Vehicle ID:</label>
            <input type="text" id="vehicle_idRead" name="vehicle_idRead">
            <button type="submit">Read Vehicle</button>
        </form>

      <h2> Cliam</h2>
     <form action="manager/readclaim" method="GET"> 
        <label for="claim_idRead">Claim ID:</label>
        <input type="text" id="claim_idRead" name="claim_idRead">
        <button type="submit">Read Claim</button>
    </form> 

        <h1>Claim Settlement</h1>
        
        <form action="manager/createclaim_settlement" method="GET">
            <button type="submit">Create Claim Settlement</button>
        </form>
    
        <form action="manager/readclaim_settlement" method="GET"> 
            <label for="claim_settlement_idRead">Claim Settlement ID:</label>
            <input type="text" id="claim_settlement_idRead" name="claim_settlement_idRead">
            <button type="submit">Read Claim Settlement</button>
        </form>

    
        <form action="manager/updateclaim_settlement" method="GET">
            <label for="claim_settlement_id">Claim Settlement ID:</label>
            <input type="text" id="claim_settlement_id" name="claim_settlement_id">
            <button type="submit">Update Claim Settlement</button>
        </form>
    
        <form action="manager/deleteclaim_settlement" method="POST">
            <label for="claim_settlement_idDelete">Claim Settlement Id:</label>
            <input type="text" id="claim_settlement_idDelete" name="claim_settlement_idDelete">
            <button type="submit">Delete Claim Settlement</button>
    </form> 


    <h1>Staff</h1>
        
        <form action="manager/createstaff" method="GET">
            <button type="submit">Create Claim Settlement</button>
        </form>

    
        <form action="manager/readstaff" method="GET"> 
            <label for="staff_idRead">Staff ID:</label>
            <input type="text" id="staff_idRead" name="staff_idRead">
            <button type="submit">Read Staff</button>
        </form>

    <head>
        <title>Department</title>
    </head>
    <body>
        <h1>Department</h1>
        <form action="manager/readdepartment" method="GET"> 
            <label for="department_nameRead">Department Name:</label>
            <input type="text" id="department_nameRead" name="department_nameRead">
            <button type="submit">Read Department</button>
        </form>

        <head>
            <title>Office</title>
        </head>
        <body>
            <h1>Office</h1>
            <form action="manager/readoffice" method="GET"> 
                <label for="office_nameRead">Office Name:</label>
                <input type="text" id="office_nameRead" name="office_nameRead">
                <button type="submit">Read Office</button>
            </form>
            <head>
                <title>Membership</title>
            </head>
            
                <h1>Membership</h1>
                <form action="manager/readmembership" method="GET"> 
                    <label for="membership_id_Read">Membership Id:</label>
                    <input type="text" id="membership_id_Read" name="membership_id_Read">
                    <button type="submit">Read Membership</button>
                </form>

                
            <head>
                <title>Vehicle Service</title>
            </head>
            
              <h1>Vehicle Service</h1>
                <form action="manager/createvehicle_service" method="GET">
                    <button type="submit">Create Vehicle_Service</button>
                </form> 
                
                <form action="manager/readvehicle_service" method="GET"> 
                    <label for="vehicle_idRead">Vehicle Id:</label>
                    <input type="text" id="vehicle_idRead" name="vehicle_idRead">
                    <button type="submit">Read Vehicle Service</button>
                </form>
                <form action="manager/deletevehicle_service" method="POST">
                    <label for="vehicle_service_idDelete">Vehicle Service Id:</label>
                    <input type="text" id="vehicle_service_idDelete" name="vehicle_service_idDelete">
                    <button type="submit">Delete Vehicle Service</button>
                  </form> 

                <head>
                    <title>NOK</title>
                </head>
                <body>
                    <h1>NOK</h1>
                    <form action="manager/readnok" method="GET"> 
                        <label for="nok_idRead">NOK Id:</label>
                        <input type="text" id="nok_idRead" name="nok_idRead">
                        <button type="submit">Read NOK</button>
                    </form>


                    
                    <head>
                        <title>Insurance Company</title>
                    </head>
                    <body>
                        <h1>Insurance Company</h1>
                        <form action="manager/readinsurance_companies" method="GET"> 
                            <label for="company_nameRead">Insurance company Name:</label>
                            <input type="text" id="company_nameRead" name="company_nameRead">
                            <button type="submit">Read Insurance Company</button>
                        </form>

      <head>
         <title>Policy Renewable</title>
      </head>
      <h1>Policy Renewable</h1>
      <form action="manager/createpolicy_renewable" method="GET">
        <button type="submit">Create Policy_Renewable</button>
    </form> 
    
    <form action="manager/readpolicy_renewable" method="GET"> 
        <label for="Policy_RenewableRead">Policy_Renewable Id:</label>
        <input type="text" id="Policy_RenewableRead" name="Policy_RenewableRead">
        <button type="submit">Read Policy_Renewable</button>
    </form>

    <form action="manager/updatepolicy_renewable" method="GET">
        <label for="policy_renewableupdate">policy_renewable ID:</label>
        <input type="text" id="policy_renewableupdate" name="policy_renewableupdate">
        <button type="submit">Update policy_renewable</button>
    </form>

    <form action="manager/deletepolicy_renewable" method="POST">
        <label for="Policy_RenewableDelete">Vehicle Service Id:</label>
        <input type="text" id="Policy_RenewableDelete" name="Policy_RenewableDelete">
        <button type="submit">Delete Policy_Renewable</button>
      </form> 


    <head>
     <title>Incident</title>
     </head>
     <h1>Incident</h1>
         <body>
            <form action="manager/createincident" method="GET">
                <button type="submit">Create Incident </button>
            </form> 

         <form action="manager/readincident" method="GET"> 
          <label for="INCIDENT_IDRead">Incident Id:</label>
      <input type="text" id="INCIDENT_IDRead" name="INCIDENT_IDRead">
      <button type="submit">Read Incident</button>
    </form>

    <form action="manager/deleteincident" method="POST">
        <label for="incidentDelete">Incident Id:</label>
        <input type="text" id="incidentDelete" name="incidentDelete">
        <button type="submit">Delete Incident</button>
      </form> 


    <head>
        <title>Incident Report</title>
    </head>
    <body>
        <h1>Incident Report</h1>
        
            <form action="manager/createincident_report" method="GET">
                <button type="submit">Create Incident_Report</button>
            </form>  

        <form action="manager/readincident_report" method="GET"> 
            <label for="incident_report_IDRead">Incident Report Id:</label>
            <input type="text" id="incident_report_IDRead" name="incident_report_IDRead">
            <button type="submit">Read Incident Report</button>
        </form>

        <form action="manager/deleteincident_report" method="POST">
            <label for="incident_reportDelete">Incident_Report_Id:</label>
            <input type="text" id="incident_reportDelete" name="incident_reportDelete">
            <button type="submit">Delete Incident</button>
          </form> 

        

        <head>
            <title>Coverage</title>
        </head>
        <body>
            <h1>Coverage</h1>
            <form action="manager/readcoverage" method="GET"> 
                <label for="coverage_idRead">Coverage Id:</label>
                <input type="text" id="coverage_idRead" name="coverage_idRead">
                <button type="submit">Read Coverage</button>
            </form>



            <head>
                <title>Product</title>
            </head>
            <body>
                <h1>Product</h1>
                
                
                 <form action="manager/createproduct" method="GET">
                        <button type="submit">Create product</button>
                </form>  

                <form action="manager/readproduct" method="GET"> 
                    <label for="product_numberRead">Product Number:</label>
                    <input type="text" id="product_numberRead" name="product_numberRead">
                    <button type="submit">Read Product</button>
                </form>

                <form action="manager/updateproduct" method="GET">
                    <label for="productupdate">Product Number:</label>
                    <input type="text" id="productupdate" name="productupdate">
                    <button type="submit">Update Product</button>
                </from>

                <form action="manager/deleteproduct" method="POST">
                    <label for="productDelete">Product_Id:</label>
                    <input type="text" id="productDelete" name="productDelete">
                    <button type="submit">Delete Product</button>
                  </form> 


                <head>
                    <title>Receipt</title>
                </head>
                <body>
                    <h1>Receipt</h1>
                    
                    <form action="manager/createreceipt" method="GET">
                        <button type="submit">Create receipt</button>
                    </form>
                
                    <form action="manager/readreceipt" method="GET"> 
                        <label for="receipt_idRead">Receipt ID:</label>
                        <input type="text" id="receipt_idRead" name="receipt_idRead">
                        <button type="submit">Read Receipt</button>
                    </form>
            
                
                    <form action="manager/updatereceipt" method="GET">
                        <label for="receipt_id">Receipt ID:</label>
                        <input type="text" id="receipt_id" name="receipt_id">
                        <button type="submit">Update Receipt</button>
                    </form>
                
                    <form action="manager/deletereceipt" method="POST">
                        <label for="receipt_idDelete">Receipt Id:</label>
                        <input type="text" id="receipt_idDelete" name="receipt_idDelete">
                        <button type="submit">Delete Receipt</button>
                </form>
        

</body>
</html>  -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="index.html"><span class="text-primary fs-3 ms-2 fw-bolder">en</span><span class="fw-thin text-300 fs-3">surance</span></a><button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse pt-4 pt-lg-0" id="navbarSupportedContent">
                <p class="mb-0 ms-auto text-light fs-0 fw-normal"><i class="fas fa-phone-alt me-2"></i>Call Us Now <a class="text-light" href="tel:+604-680-9785">+215(362)4579</a></p>
                <ul class="navbar-nav ms-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
                    <li class="nav-item px-2"><a class="nav-link active" aria-current="page" href="#">MANAGER OF INSURANCE DEPARTMENT</a></li>
                    <li class="nav-item px-2"><a class="nav-link" href="#products">Products</a></li>
                    <li class="nav-item px-2"><a class="nav-link" href="#news">News &amp; Blog</a></li>
                    <li class="nav-item px-2"><a class="nav-link" href="#contact">Contact us</a></li>
                </ul>
                <div class="d-flex mt-2 align-items-center mt-lg-0">
                    <div class="dropdown"><button class="btn btn-sm d-flex mx-2" id="dropdownMenuButton1" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search text-primary"></i></button>
                        <div class="dropdown-menu dropdown-menu-lg-end p-0 rounded" aria-labelledby="dropdownMenuButton1" style="top:55px">
                            <form><input class="form-control form-search-control border-100" type="search" placeholder="Search" aria-label="Search" /></form>
                        </div>
                    </div><a href="/login"> <i class="fas fa-user text-primary"> </i></a>
                </div>
            </div>
        </div>
    </nav>
    <section class="py-0">
        <div class="bg-holder" style="background-image:url(assets/img/illustrations/bg.png);background-position:left center;background-size:auto 816px;"></div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="row align-items-center min-vh-100">
                <div class="col-md-7 col-xl-7 pt-9 text-md-start text-center">
                    <h1 class="display-2 text-light fw-thin">We provide the best <br class="d-none d-xl-block" />value <strong class="fw-bolder">insurance </strong></h1>
                    <p class="fs-2 text-400">Simple Steps You Can Take to Improve Your <br class="d-none d-xxl-block" />Financial Well-Being for the rest of Your Life </p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
                </div>
                <div class="col-md-5 col-xl-5 pe-xxl-0">
                    <div class="card card-bg shadow hero-header-form">
                        <div class="card-body p-4 p-xl-6">
                            <h2 class="text-100 text-center">Get a Customer</h2>
                          
                             <form class="mb-3" action="manager/customer" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Customer</button></div>
                              </form>
                            <h2 class="text-100 text-center">Get a Application</h2>
                          
                             <form class="mb-3" action="manager/application" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get application</button></div>
                              </form>
                            <h2 class="text-100 text-center">Get a Quote</h2>
                            <form class="mb-3" action="manager/quote" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Quote</button></div>
                            </form>

                            <h2 class="text-100 text-center">Get a Insurance Policy</h2>
                            <form class="mb-3" action="manager/insurance_policy" method="GET">
                               <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Insurance Policy</button></div>
                             </form>
                             
                             <h2 class="text-100 text-center">Get a Vehicle</h2>
                             <form class="mb-3" action="manager/Vehicle" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Vehicle</button></div>
                              </form>

                              <h2 class="text-100 text-center">Get a Claim</h2>
                             <form class="mb-3" action="manager/claim" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Claim</button></div>
                              </form>

                              <h2 class="text-100 text-center">Get a Claim_Settlement</h2>
                             <form class="mb-3" action="manager/claim_settlement" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Claim_Settlement</button></div>
                              </form>

                              <h2 class="text-100 text-center">Get a Staff</h2>
                             <form class="mb-3" action="manager/staff" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Staff</button></div>
                              </form>

                            <h2 class="text-100 text-center">Get a Department</h2>
                            <form class="mb-3" action="manager/department" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Department</button></div>
                            </form>
                            <h2 class="text-100 text-center">Get a Office</h2>
                            <form class="mb-3" action="manager/office" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Office</button></div>
                            </form>

                            <h2 class="text-100 text-center">Get a Membership</h2>
                             <form class="mb-3" action="manager/membership" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Membership</button></div>
                              </form>
                             
                              <h2 class="text-100 text-center">Get a Vehicle Service</h2>
                             <form class="mb-3" action="manager/vehicle_service" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Vehicle Service</button></div>
                              </form>

                              <h2 class="text-100 text-center">Get a NOK</h2>
                             <form class="mb-3" action="manager/nok" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get NOK</button></div>
                              </form>

                              <h2 class="text-100 text-center">Get a Insurance Company</h2>
                             <form class="mb-3" action="manager/insurance_company" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Insurance Company</button></div>
                              </form>

                              <h2 class="text-100 text-center">Get a Policy Renewable</h2>
                             <form class="mb-3" action="manager/policy_renewable" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Policy Renewable</button></div>
                              </form>

                              <h2 class="text-100 text-center">Get a Incident</h2>
                             <form class="mb-3" action="manager/incident" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Incident</button></div>
                              </form>

                              <h2 class="text-100 text-center">Get a Incident Report</h2>
                              <form class="mb-3" action="manager/incident_report" method="GET">
                                 <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Incident Report</button></div>
                               </form>

                               <h2 class="text-100 text-center">Get a coverage</h2>
                               <form class="mb-3" action="manager/coverage" method="GET">
                                  <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get coverage</button></div>
                                </form>

                                <h2 class="text-100 text-center">Get a Product</h2>
                             <form class="mb-3" action="manager/product" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Product</button></div>
                              </form>

                              <h2 class="text-100 text-center">Get a Receipt</h2>
                             <form class="mb-3" action="manager/receipt" method="GET">
                                <div class="col-12 d-grid"> <button class="btn btn-primary rounded-pill" type="submit">Get Receipt</button></div>
                              </form>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products">
        <div class="bg-holder d-none d-md-block" style="background-image:url(assets/img/illustrations/bg-car-insurance.png);background-position:0 200px;background-size:100% 45%;"></div>
        <!--/.bg-holder-->
        <div class="bg-holder d-none d-md-block" style="background-image:url(assets/img/illustrations/bg-left.png);background-position:left;background-size:15% 100%;"></div>
        <!--/.bg-holder-->
        <div class="bg-holder d-none d-xl-block  mt-11" style="background-image:url(assets/img/illustrations/circle.png);background-position:18% 49%;;background-size:auto;"></div>
        <!--/.bg-holder-->
        <div class="container-lg">
            <div class="row flex-center py-8 py-md-10">
                <div class="col-12 mt-6">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-tab" id="nav-tab" role="tablist" aria-orientation="vertical">
                            <a class="circle-hover-wrapper nav-link mb-lg-4 active" id="nav-car-tab" href="#!" data-bs-toggle="tab" data-bs-target="#nav-car" role="tab" aria-controls="nav-car" aria-selected="true">
                                <div class="icon-box"><img class="car-insurance-icon" src="assets/img/icons/car.png" alt="..." /><img class="car-insurance-icon car-insurance-icon-hover" src="assets/img/icons/car-hover.png" alt="..." /></div>
                            </a>
                            <a class="circle-hover-wrapper nav-link mb-lg-4" id="nav-home-tab" href="#!" data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">
                                <div class="icon-box"><img class="car-insurance-icon" src="assets/img/icons/home.png" alt="..." /><img class="car-insurance-icon car-insurance-icon-hover" src="assets/img/icons/home-hover.png" alt="..." /></div>
                            </a>
                            <a class="circle-hover-wrapper nav-link mb-lg-4" id="nav-paw-tab" href="#!" data-bs-toggle="tab" data-bs-target="#nav-paw" role="tab" aria-controls="nav-paw" aria-selected="false">
                                <div class="icon-box"><img class="car-insurance-icon" src="assets/img/icons/paw.png" alt="..." /><img class="car-insurance-icon car-insurance-icon-hover" src="assets/img/icons/paw-hover.png" alt="..." /></div>
                            </a>
                            <a class="circle-hover-wrapper nav-link mb-lg-4" id="nav-plane-tab" href="#!" data-bs-toggle="tab" data-bs-target="#nav-plane" role="tab" aria-controls="nav-plane" aria-selected="false">
                                <div class="icon-box"><img class="car-insurance-icon" src="assets/img/icons/plane.png" alt="..." /><img class="car-insurance-icon car-insurance-icon-hover" src="assets/img/icons/plane-hover.png" alt="..." /></div>
                            </a>
                        </div>
                        <div class="tab-content w-100" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-car" role="tabpanel" aria-labelledby="nav-car-tab">
                                <div class="row align-items-center offset-sm-1 g-3">
                                    <div class="col-md-6 col-xl-4 order-1 order-md-0">
                                        <h2 class="text-light mb-md-5">Car Insurance</h2>
                                        <p class="text-400">Make a plan for the emergence of life. We protect your most precious assets, allowing you to devote your time and energy to more essential things in life.</p>
                                        <p class="text-400 mt-3">Discover the most appropriate fit for you and your Family.</p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
                                    </div>
                                    <div class="col-md-6 col-xl-8 text-end">
                                        <div class="img-shape"><img class="feature-img" src="assets/img/gallery/car.png" alt="..." /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row align-items-center offset-sm-1 g-3">
                                    <div class="col-md-6 col-xl-4 order-1 order-md-0">
                                        <h2 class="text-light mb-md-5">Home Insurance</h2>
                                        <p class="text-400">Make a plan for the emergence of life. We protect your most precious assets, allowing you to devote your time and energy to more essential things in life.</p>
                                        <p class="text-400 mt-3">Discover the most appropriate fit for you and your Family.</p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
                                    </div>
                                    <div class="col-md-6 col-xl-8 text-end">
                                        <div class="img-shape"><img class="feature-img" src="assets/img/gallery/home.png" alt="..." /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-paw" role="tabpanel" aria-labelledby="nav-paw-tab">
                                <div class="row align-items-center offset-sm-1 g-3">
                                    <div class="col-md-6 col-xl-4 order-1 order-md-0">
                                        <h2 class="text-light mb-md-5">Pet Insurance</h2>
                                        <p class="text-400">Make a plan for the emergence of life. We protect your most precious assets, allowing you to devote your time and energy to more essential things in life.</p>
                                        <p class="text-400 mt-3">Discover the most appropriate fit for you and your Family.</p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
                                    </div>
                                    <div class="col-md-6 col-xl-8 text-end">
                                        <div class="img-shape"><img class="feature-img" src="assets/img/gallery/pets.png" alt="..." /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-plane" role="tabpanel" aria-labelledby="nav-plane-tab">
                                <div class="row align-items-center offset-sm-1 g-3">
                                    <div class="col-md-6 col-xl-4 order-1 order-md-0">
                                        <h2 class="text-light mb-md-5">Travel Insurance</h2>
                                        <p class="text-400">Make a plan for the emergence of life. We protect your most precious assets, allowing you to devote your time and energy to more essential things in life.</p>
                                        <p class="text-400 mt-3">Discover the most appropriate fit for you and your Family.</p><a class="btn btn-primary btn-ensurance mt-5" href="#!"><span class="fas fa-chevron-right fa-xs btn-icon"></span><span class="btn-text">Learn more</span></a>
                                    </div>
                                    <div class="col-md-6 col-xl-8 text-end">
                                        <div class="img-shape"><img class="feature-img" src="assets/img/gallery/travel.png" alt="..." /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row offset-xl-2">
                <div class="col-12">
                    <div class="mb-3 mb-md-5">
                        <h2 class="text-light mb-7 text-center text-sm-start">Best Services</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 mb-6 text-center text-sm-start"><img class="shadow-icon" src="assets/img/icons/support.png" height="60" alt="..." />
                            <h4 class="mt-4 fw-normal text-200">24x7 Support</h4>
                            <p class="text-400 mb-md-0">Client is our most <br> important priority</p>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-6 text-center text-sm-start"><img class="shadow-icon" src="assets/img/icons/edit.png" height="60" alt="..." />
                            <h4 class="mt-4 fw-normal text-200">Easy Claim System</h4>
                            <p class="text-400 mb-md-0">Express your desires <br>and needs to us</p>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-6 text-center text-sm-start"><img class="shadow-icon" src="assets/img/icons/money.png" height="60" alt="..." />
                            <h4 class="mt-4 fw-normal text-200">Easy installments</h4>
                            <p class="text-400 mb-md-0">It's quick, safe, and simple. Select several methods of payment</p>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-6 text-center text-sm-start"><img class="shadow-icon" src="assets/img/icons/security.png" height="60" alt="..." />
                            <h4 class="mt-4 fw-normal text-200">Strongly Secured</h4>
                            <p class="text-400 mb-md-0">Food is made and delivered directly to your home.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-8">
        <div class="container-fluid px-0">
            <div class="row g-0">
                <div class="col-12 col-xxl-11 offset-xxl-1">
                    <h2 class="text-light text-center">Our Awesome Clients</h2>
                    <div class="carousel slide" id="carouselExampleIndicators" data-bs-ride="carouse">
                        <div class="carousel-inner ps-md-5 ps-lg-11 py-4 py-md-5 py-lg-4 pb-lg-9">
                            <div class="carousel-item active">
                                <div class="row h-100">
                                    <div class="col-12">
                                        <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                                            <div class="card-body pt-0 p-md-0">
                                                <div class="d-flex flex-column flex-md-row align-items-center">
                                                    <div class="card-span-img">
                                                        <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/1.jpg" alt="" /></div>
                                                    </div>
                                                    <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                                                        <h4 class="mb-0 fw-medium text-white">Charlize Theron</h4>
                                                        <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                                                        <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row h-100">
                                    <div class="col-12">
                                        <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                                            <div class="card-body pt-0 p-md-0">
                                                <div class="d-flex flex-column flex-md-row align-items-center">
                                                    <div class="card-span-img">
                                                        <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/2.jpg" alt="" /></div>
                                                    </div>
                                                    <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                                                        <h4 class="mb-0 fw-medium text-white">Edward Newgate</h4>
                                                        <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                                                        <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row h-100">
                                    <div class="col-12">
                                        <div class="card testimonial-bg card-span text-white mt-10 mt-md-7 mt-lg-8 mx-4 mx-md-0">
                                            <div class="card-body pt-0 p-md-0">
                                                <div class="d-flex flex-column flex-md-row align-items-center">
                                                    <div class="card-span-img">
                                                        <div class="circle-wrapper"><img class="rounded-circle w-100" src="assets/img/team/3.jpg" alt="" /></div>
                                                    </div>
                                                    <div class="mt-n6 mt-md-0 text-center text-md-start px-md-6 px-xl-8 px-xxl-10">
                                                        <h4 class="mb-0 fw-medium text-white">Charlize Theron</h4>
                                                        <p class="fw-normal mb-0 text-primary">Founder Circle</p>
                                                        <p class="card-text text-200 mt-3">“Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center justify-content-xl-end me-auto mt-xl-n7 pe-xl-8">
                            <div class="col-2 text-end position-relative z-index-2"><button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button>
                                <button
                                    class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></button>
                                    <div class="carousel-indicators"><button class="active" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button><button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button><button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"> </button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->



    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section id="news">
        <div class="container">
            <div class="row">
                <h2 class="text-light text-center my-5">Recent News</h2>
            </div>
            <div class="row flex-center h-100 circle-blend circle-blend-left circle-primary">
                <div class="col-12">
                    <div class="row align-items-center circle-blend circle-blend-right circle-warning">
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card p-3 h-100 card-soft-primary">
                                <div class="card-body">
                                    <div class="d-flex flex-between-center">
                                        <p class="fw-normal mb-0 text-400">24 July, 2021</p>
                                        <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;">Thoughts</span></h6>
                                    </div>
                                    <h5 class="fw-bold fs-2 text-200 my-3">A pandemic may cause life insurance coverage</h5>
                                    <p class="text-400">In the aftermath of the Covid epidemic, life insurance firms have been more cautious and have tightened underwriting standards for policies with large cash values.......</p><a class="link-primary" href="#!"> <svg class="bi bi-arrow-right text-primary" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                    </svg></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card p-3 h-100 card-soft-primary">
                                <div class="card-body">
                                    <div class="d-flex flex-between-center">
                                        <p class="fw-normal mb-0 text-400">29 July, 2021</p>
                                        <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;">Health</span></h6>
                                    </div>
                                    <h5 class="fw-bold fs-2 text-200 my-3">Top 10 health insurance companies in the Germany</h5>
                                    <p class="text-400">There are numerous private healthcare insurance experts in Germany. Insurance protects against financial loss and reduces uncertainty. It ensures safety and security.......</p><a class="link-primary" href="#!"> <svg class="bi bi-arrow-right text-primary" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                    </svg></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card p-3 h-100 card-soft-primary">
                                <div class="card-body">
                                    <div class="d-flex flex-between-center">
                                        <p class="fw-normal mb-0 text-400">15 August, 2021</p>
                                        <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;">Life</span></h6>
                                    </div>
                                    <h5 class="fw-bold fs-2 text-200 my-3">Why do you need several life insurance policies?</h5>
                                    <p class="text-400">In the event of the insured's death, life insurance protects the nominees financially. It is possible to have several life insurance policies with various insurance providers.......</p><a class="link-primary" href="#!"> <svg class="bi bi-arrow-right text-primary" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                    </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-5 text-center text-sm-end"><a class="link-primary" href="#!">View all <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"> </path>
              </svg></a></div>
                </div>
            </div>
        </div>
        <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->



    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0">
        <div class="container">
            <div class="row align-items-center justify-content-xl-between">
                <h2 class="text-light text-center my-5">Partners</h2>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-1.png" height="40" alt="Partner" /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-2.png" height="40" alt="Partner" /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-3.png" height="40" alt="Partner" /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-4.png" height="40" alt="Partner" /></div>
                <div class="col-auto col-md-4 col-lg-auto my-3 text-xl-start"><img src="assets/img/gallery/partner-5.png" height="40" alt="Partner" /></div>
            </div>
        </div>
        <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->



    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <h2 class="text-light text-center mb-8">Contact Us</h2>
                <div class="col-12 col-lg-6 col-xl-7 mb-4 order-0 order-sm-0"><a class="logo-footer fs-7" href="index.html"><span class="text-primary fw-bolder">en</span><span class="fw-thin text-300">surance</span></a>
                    <p class="text-light my-4"> <i class="fas fa-map-marker-alt me-3"></i><span class="text-light">1500 Treat Ave, Suite 200  &nbsp;</span><a class="text-light" href="tel:+604-680-9785">+604-680-9785</a><br />San Francisco, CA 94110</p>
                    <p class="text-light"> <i class="fas fa-envelope me-3 text-primary"> </i><a href="mailto:vctung@outlook.com">vctung@outlook.com </a></p>
                    <p class="text-light"> <i class="fas fa-phone-alt me-3 text-primary"> </i><a href="tel:1-800-800-2299">1-800-800-2299 (Support)</a></p>
                </div>
                <div class="col-12 col-lg-6 col-xl-5">
                    <h3 class="text-200 my-4">Subscribe to newsletter </h3>
                    <form class="position-relative">
                        <div class="input-group-icon"><input class="form-control form-ensurance-control" type="email" placeholder="Enter your email " aria-label="email" /></div><button class="btn btn-primary btn-subscribe" type="submit">Subscribe now</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->



    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-md-flex justify-content-between pb-1 pt-4">
                        <div class="pb-4">
                            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                                <li><a class="widget-list-link fs-ms" href="#">Home</a></li>
                                <li class="ms-4"><a class="widget-list-link fs-ms" href="#">About Us</a></li>
                                <li class="ms-4"><a class="widget-list-link fs-ms" href="#">Blog</a></li>
                                <li class="ms-4"><a class="widget-list-link fs-ms" href="#">Services</a></li>
                                <li class="ms-4"><a class="widget-list-link fs-ms" href="#">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="pb-4">
                            <ul class="list-unstyled list-inline my-2">
                                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-facebook-square fa-2x social-icons"></i></a></li>
                                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-instagram fa-2x social-icons"></i></a></li>
                                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-twitter-square fa-2x social-icons"> </i></a></li>
                                <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-linkedin fa-2x social-icons"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->



    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 bg-black">
        <div class="container">
            <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                    <p class="fs--1 my-2 fw-light text-200">All rights Reserved &copy; Your Company, 2021</p>
                </div>
                <div class="col-12 col-sm-8 col-md-6">
                    <p class="fs--1 fw-light my-2 text-center text-md-end text-200"> Made with&nbsp;<svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#F95C19" viewBox="0 0 16 16">
              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
            </svg>&nbsp;by&nbsp;<a class="fw-bold text-primary" href="https://themewagon.com/" target="_blank">ThemeWagon</a></p>
                </div>
            </div>
        </div>
        <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

</main>
</body>
</html> 
