<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
</head>
<body>
    <h2>Application Form</h2>
    <form method="post" action="/customer/new_application/<%=CUST_ID%>" >

        <label for="vehicle_id">Vehicle ID:</label>
        <input type="text" id="vehicle_id" name="vehicle_id"><br><br>
        <input type="text" placeholder="Dependent NOK ID" name="dependent_nok_id" required><br><br>
        <input type="text" placeholder="Vehicle Registration Number" name="vehicle_registration_number" maxlength="20" required><br><br>
        <input type="number" placeholder="Vehicle Value" name="vehicle_value" required><br><br>
        <input type="text" placeholder="Vehicle Type" name="vehicle_type" maxlength="20" required><br><br>
        <input type="number" placeholder="Vehicle Size" name="vehicle_size" required><br><br>
        <input type="number" placeholder="Number of Seats" name="vehicle_number_of_seat" required><br><br>
        <input type="text" placeholder="Vehicle Manufacturer" name="vehicle_manufacturer" maxlength="20" required><br><br>
        <input type="text" placeholder="Engine Number" name="vehicle_engine_number" maxlength="20" required><br><br>
        <input type="number" placeholder="Chassis Number" name="vehicle_chassis_number" maxlength="20" required><br><br>
        <input type="text" placeholder="Vehicle Number" name="vehicle_number" maxlength="20" required><br><br>
        <input type="text" placeholder="Model Number" name="vehicle_model_number" maxlength="20" required><br><br>





        <label for="coverage">Coverage:</label>
        <input type="text" id="coverage" name="coverage"><br><br>

        <label for="issue_date">Issue Date:</label>
        <input type="date" id="issue_date" name="issue_date" required><br>
        
        <button>Submit</button>
    </form>
</body>
</html>
