<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coverage</title>
    <link rel="stylesheet" href="/style.css"
</head>
<body>
    <h1>Coverage</h1>
            <form action="readcoverage" method="GET"> <!-- Corrected action URL -->
                <label for="coverage_idRead">Coverage Id:</label>
                <input type="text" id="coverage_idRead" name="coverage_idRead">
                <button type="submit">Read Coverage</button>
            </form>
</body>
</html>