<html>
<head>
    <title>Create product</title>
</head>
<body>
    <h1>Create product</h1>
    <form action="/manager/createproduct" method="POST">
        <label for="product_number">product NAME:</label>
        <input type="text" id="product_number" name="product_number"><br>

        <label for="company_name">COMPANY NAME:</label>
        <input type="text" id="company_name" name="company_name"><br>

        <label for="product_price">product price:</label>
        <input type="text" id="product_price" name="product_price"><br>

        <label for="product_type">product type:</label>
        <input type="text" id="product_type" name="product_type"><br>

        <button type="submit">Create product</button>
    </form>
</body>
</html>       // createproduct.ejs