<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident</title>
    <link rel="stylesheet" href="/style.css"
</head>
<body>
    <h1>Incident Report</h1>
        
            <form action="createincident_report" method="GET">
                <button type="submit">Create Incident_Report</button>
            </form>  

        <form action="readincident_report" method="GET"> <!-- Corrected action URL -->
            <label for="incident_report_IDRead">Incident Report Id:</label>
            <input type="text" id="incident_report_IDRead" name="incident_report_IDRead">
            <button type="submit">Read Incident Report</button>
        </form>

        <form action="deleteincident_report" method="POST">
            <label for="incident_reportDelete">Incident_Report_Id:</label>
            <input type="text" id="incident_reportDelete" name="incident_reportDelete">
            <button type="submit">Delete Incident</button>
          </form> 
</body>
</html>