<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Company</title>
    <link rel="stylesheet" href="/style.css"
</head>
<body>
    <h1>Insurance Company</h1>
    <form action="readinsurance_companies" method="GET"> <!-- Corrected action URL -->
        <label for="company_nameRead">Insurance company Name:</label>
        <input type="text" id="company_nameRead" name="company_nameRead">
        <button type="submit">Read Insurance Company</button>
    </form>
</body>
</html>