<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="/style.css"
</head>
<body>
    <h1>Membership</h1>
                <form action="readmembership" method="GET"> <!-- Corrected action URL -->
                    <label for="membership_id_Read">Membership Id:</label>
                    <input type="text" id="membership_id_Read" name="membership_id_Read">
                    <button type="submit">Read Membership</button>
                </form>
</body>
</html>