<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOK</title>
    <link rel="stylesheet" href="/style.css"
</head>
<body>
    <h1>NOK</h1>
                    <form action="readnok" method="GET"> <!-- Corrected action URL -->
                        <label for="nok_idRead">NOK Id:</label>
                        <input type="text" id="nok_idRead" name="nok_idRead">
                        <button type="submit">Read NOK</button>
                    </form>
</body>
</html>