<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office</title>
    <link rel="stylesheet" href="/style.css"
</head>
<body>
    <h1>Office</h1>
            <form action="readoffice" method="GET"> <!-- Corrected action URL -->
                <label for="office_nameRead">Office Name:</label>
                <input type="text" id="office_nameRead" name="office_nameRead">
                <button type="submit">Read Office</button>
            </form>
</body>
</html>