
<html>
<head>
    <title>Read Membership</title>
</head>
<body>
    <h1>Membership</h1>
    <ul>
        <li>Membership Id: <%= membership.membership_id %></li>
        <li>Customer Id: <%= membership.cust_id %></li>
        <li>Membership Type : <%= membership.membership_type %></li>
        <li>Organization Contact: <%= membership.organisation_contact %></li>
        
    </ul>
</body>
</html>
