<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <link rel="stylesheet" href="/style.css"
</head>
<body>
    <h1>Staff</h1>
        
        <form action="createstaff" method="GET">
            <button type="submit">Create Claim Settlement</button>
        </form>

    
        <form action="readstaff" method="GET"> <!-- Corrected action URL -->
            <label for="staff_idRead">Staff ID:</label>
            <input type="text" id="staff_idRead" name="staff_idRead">
            <button type="submit">Read Staff</button>
        </form>
</body>
</html>